/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html, body { height: 100%; }
*::selection { background: rgba(255,255,255,0.11); }

* {
	box-sizing: border-box;
}

strong { font-weight: bold; }

@font-face {
    font-family: 'UbuntuMedium';
    src: url('fonts/ubuntu-m-webfont.eot');
    src: url('fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-m-webfont.woff') format('woff'),
         url('fonts/ubuntu-m-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-m-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: -webkit-radial-gradient(center, ellipse cover, #242F3A 0%,#161616 100%);
	color: white;
	font-family: 'UbuntuMedium', sans-serif;
}

#top_banner {
	margin: auto auto 30px auto;
	width: 65%;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 15px;
	border-color: #ebccd1;
	background-color: #f2dede;
	color: #a94442;
}

#content-container {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	overflow: auto;
}

.search-container {
	width: 70%;
	width: -webkit-calc(100% - 315px);
	height: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	overflow: auto;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

.gofundme-text {
	width: auto;
	display: -webkit-box;
	overflow: visible;
	text-align: left;
	
	position: absolute;
	bottom: 4px;
	left: 156px;
}

.gofundme-widget{
	width: auto;
	display: -webkit-box;
	overflow: visible;
	
	position: absolute;
	bottom: 4px;
	left: 4px;
}

h1 {
	font-size: 20pt;
	text-shadow: 0px 0px 8px rgba(0,0,0,0.88);
}

service {
	display: inline-block;
	width: 120px;
	height: 120px;
	margin: 15px;

	background-color: #EEE;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 8pt;

	font-size: 8pt;
	line-height: 198px;

	cursor: hand;
	color: transparent;
}

service:hover {
	box-shadow: 0px 10px 33px rgba(0,0,0,0.66);
}

service.subtext {
	color: #666;
}

service.monitorPending {
	color: gray;
}

service.monitorDown {
	color: #DB6464;
}

service.monitorUp {
	color: #4da74d;
}

service.monitorUnknown {
	color: yellow;
}

.notice {
	text-align: center;
	color: rgba(255,255,255,0.44);
	line-height: 16pt;
}

.notice a, .notice a:visited, .notice a:hover {
	color: rgba(0,139,253,0.88);
}

.notice a:hover {
	text-decoration: none;
}

#ad {
	width: 728px;
	height: 90px;
	display: block;
	background: #9BB7FF;
	border: 2px solid rgba(0,0,0,0.33);
	background: -webkit-radial-gradient(center, ellipse cover, #B58687 0%,#694142 100%);
	color: rgba(0,0,0,0.33);
	line-height: 88px;
	text-align: center;
	font-size: 32pt;
}

@media (max-width: 730px) {
	service {
		margin: 10px;
	}

	.ad {
		zoom: 10%;
	}
}

@media (max-width: 570px) {
	h1 {
		font-size: 14pt;
	}

	service {
		margin: 2px;
		width: 110px;
		height: 110px;
	}
}
