/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html, body {
	overflow: hidden;
}

body {
	background: -webkit-radial-gradient(center, ellipse cover, rgba(150,150,150,0.5) 0%,rgba(3,97,150,0.65) 100%);
	color: white;
	font-family: 'Open Sans', sans-serif;
}

strong {
	font-weight: bold;
	text-decoration: underline;
}

b {
	font-weight: bold;
	color: #0361e0;
}

canvas {
	position: absolute;
}

#announcement {
	position: absolute;
	margin-top: -64px;
	width: -webkit-calc(100% - 2px);
	width: -moz-calc(100% - 2px);
	width: calc(100% - 2px);
	height: 62px;
	text-align: center;
	line-height: 62px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	border: 1px solid transparent;
	border-color: #ebccd1;
	background-color: #f2dede;
	color: #a94442;
}

#content {
	width: 100;
}

#header-container {
	position: absolute;
	top: 76px;
	left: 0;
	right: 0;
	height: 200px;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
}

#info-container {
	position: absolute;
	top: 276px;
	left: 140px;
	right: 140px;
	bottom: 120px;
	padding: 40px;
	display: -webkit-box;
	-webkit-box-pack: start;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
}

#footer-container {
	position: absolute;
	height: 120px;
	left: 0;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
}

.info {
	font-size: 18pt;
	padding-bottom: 20px;
	text-shadow: 0px 2px 1px rgba(0,0,0,1), 1px 1px 1px rgba(0,0,0,0.2), -1px 1px 1px rgba(0,0,0,0.2);
	text-align: center;
	line-height: 22pt;
}

#welcome {
	background-image: url(../images/theaterwelcome.png);
	background-repeat: no-repeat;
	width: 660px;
	height: 141px;
}

#adsense {
	width: 728px;
	height: 98px;
	background-color: black;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
}

#top-curtain {
	background-image: url(../images/curtaintop2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: top;
	width: 100%;
	height: 80px;
	position: fixed;
}

#left-curtain {
	background-image: url(../images/curtainleft.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	width: 640px;
	height: 100%;
	position: fixed;
	left: -500px;
}

#right-curtain {
	background-image: url(../images/curtainright.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	width: 640px;
	height: 100%;
	position: fixed;
	right: -500px;
}

#noflash {
	color: red;
	font-weight: bold;
	font-style: italic;
	font-size: 22pt;
	line-height: 32pt;
}

#player-container {
	width: 100%;
	height: 100%;
	background: black;
	overflow: hidden;
	display: none;
}

/* Override for video.js dimensions */
.player-dimensions {
	width: 100% !important;
	height: 100% !important;
}
